@import "./grid.css";
@import "./reset.css";
:root {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
}
.cardContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-width: 200px;
  width: 100%;
  text-align: center;
}
.cardIcon {
  text-align: center;
  padding-top: 10%;
  filter: saturate(3207%) hue-rotate(130deg);
}
.cardContent {
  padding: 5%;
}
h2 {
  color: #2d3033;
  font-weight: bold;
  padding: 5%;
}
span {
  line-height: 21px;
  color: #6c7279;
}
